---
const { ...props } = Astro.props;
const { id, question, answer, linkBlock } = props;
---

<li>
  <article>
    <h3>
      <button aria-expanded="false" aria-controls={id}>
        <span>{question}</span>
        <svg
          viewBox="0 0 10 10"
          aria-hidden="true"
          stroke="#181818"
          stroke-linecap="round"
        >
          <line class="vertical-line" x1="5" y1="1" x2="5" y2="9"></line>
          <line x1="1" y1="5" x2="9" y2="5"></line>
        </svg>
      </button>
    </h3>
    <div class="answer" id={id}>
      {answer.map((a) => <p set:html={a} />)}
      {
        linkBlock && (
          <a class="link-block" href={linkBlock.url} target="_blank">
            {linkBlock.label}
          </a>
        )
      }
    </div>
  </article>
</li>

<style>
  article {
    color: hsl(190 30% 12%);
    border-bottom: 1px solid #dadada;

    h3 {
      font-weight: 700;
      color: #181818;
      text-wrap: revert;
    }

    button {
      border: none;
      text-align: start;
      padding: 0;
      inline-size: 100%;
      padding-block: 1rlh;
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      svg {
        inline-size: auto;
        height: 1lh;
        flex-shrink: 0;

        .vertical-line {
          transform-box: fill-box;
          transform-origin: 50% 50%;
          rotate: z 0deg;
          transition: 0.6s;
        }
      }
    }

    .answer {
      color: #595566;

      > * + * {
        margin-top: 1em;
      }

      :last-child {
        padding-block-end: 1rlh;
      }

      .link-block {
        display: block;
      }
    }
  }
</style>
